<ul>
  <li>

      El número de preguntas: <%= estadisticas.quiz.count %>

  </li>
  <li>

      El número de comentarios: <%= estadisticas.comentario.count %>

  </li>
  <li>

      El número medio de comentarios por pregunta: <%= estadisticas.mediacomentario %>

  </li>
  <li>

      El número de preguntas con comentarios: <%= estadisticas.concomentario %>

  </li>
  <li>

      El número de preguntas sin comentarios: <%= estadisticas.sincomentario %>

  </li>
</ul>
